HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/**
!.idea/runConfigurations
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### 환경 변수 ###
.env

### macOS ###
.DS_Store
